body {
	/*display: flex;*/
 background-image: url("lightbackground1.jpg");
 background-attachment: fixed;
 background-repeat: repeat-y;
 background-size:cover ;
 background-position: center;
 position: relative;
 //justify-content: center;
 
}
.raspi{
	width: 85vh;
	height: 48vh;
}